@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');
*{box-sizing: border-box;}
*{font-family: 'Space Mono', monospace;}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 15%;
  background-color: #c5e4e7;
}

main {
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 45%;
  height: 87%;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

aside {
  width: 45%;
  height: 87%;
  border-radius: 14px;
  background-color: #00474b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputMain{
  border: solid 2px #4B9D91;
  background-position: 5%;
  background-repeat: no-repeat;
  height: 12%;
  width: 90%;
  border-radius: 5px;
  background-color: #F3F8FB;
  text-align: right;
  font-weight: bold;
  font-size: 1vw;
}


section:before{
  content: "Bill";
  color: gray;
  position: relative;
  top: 5%;
  right: 40%;
}

#divTip::after{
  content: "Number of people";
  color: gray;
  position: relative;
  top: 12%;
}

#inputBill{
  background-image: url("/images/icon-dollar.svg");  
}


#inputNumberP{
  background-image: url("/images/icon-person.svg"); 
}

#divTip::before{
  content: "Select tip %";
  color: gray;
  padding-bottom: 5%;
}

#divTip{
  height: 40%;
  width: 90%;
  display: flex;
  display: flex;
  flex-direction: column;
}

#divTopP{
  height: 50%;  
  display: flex;
  justify-content: space-between;
}

#divButtomP{
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.inputs{
  width: 30%;
  height: 80%;
  border-style: none;
  background-color: #00474B;
  color: #fff;
  font-weight: 600;
  font-size: 1vw;
  border-radius: 5px;
  cursor: pointer;
}

.inputs:hover{
  transform: scale(1.1);
  transition: .5s;
  background-color: #9FE8DF;
  color: #0F4247;
}

.inputs:focus{
  color: #0F4247;
  background-color: #9FE8DF;
  transform: scale(.93);
  transition: .5s;
}

#divTopAside{
  height: 20%;
  width: 80%;
}

#custom{
  background-color: #F3F8FB;
  border: solid 2px #4B9D91;  
  text-align: right;
  color: gray;
  color: #0F4247;
}

#custom:hover{
  animation: border-color 2s;
}

@keyframes border-color{
  0%{border-top: 3px solid #ff9d00;}
  25%{border-right: 3px solid #ff1100;}
  50%{border-bottom: 3px solid #ff006a;}
  75%{border-left: 2px solid #cc00ff;}  
}

#divBottomAside{
  height: 20%;
  width: 80%;
}

#btnCalcular{
  background-color: #33C0B0;
  width: 80%;
  height: 13%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1vw;
  font-weight: bold;
  border-style: none;
  color: #0F4247;

}

#btnCalcular:hover{
  background-color: #9FE8DF;
  transform: scale(1.1);
  transition: .5s;
}

#divTopAside{
  display: flex;
  justify-content: space-between;
}

#divBottomAside{
  display: flex;
  justify-content: space-between;
}

.Tip{
  font-size: 1.7vw;
  font-weight: bold;
  color: #33C0B0;
}