/*Estilos*/
body{
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    font-family: "Raleway", sans-serif;

}

main{
    width:1440px;
    height: 800px;
    background-color: #0C122C;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/Imagenes/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

}

.izquierda{
    background-color: #1E2C69;
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 201px;
    border-radius: 9px 101px 9px 9px;

}

.logo{
    width: 135px;
    height: 39.27px;
    padding: 36px 152px 31.73px 39px;

}

.botones{
    display: flex;
    padding: 10px 0px 0px 0px;

}

.doc{
    width: 48px;
    height: 48px;
    padding: 0px 16px 46px 42px;

}

.folder{
    width: 48px;
    height: 48px;
    padding: 0px 16px 45px 0px;

}

.nube{
    width: 48px;
    height: 48px;

}

.derecha{
    width: 538px;
    height: 154px;
    background-color: #1E2C69;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    margin: 49px 0px 0px 54px;

}

.numeros{
    display: flex;
    font-size: 12px;

}

.numero1{
    font-weight: bold;
    color: #fff;
    display: flex;
    padding: 0px 384px 38px 40px;

}

.numero2{
    font-weight: bold;
    color: #fff;
    display: flex;

}

.texto{
    font-size: 14px; 
    color: #fff;
    font-weight: lighter;
    padding: 20px 0px 14px 38px;

}

.barra{
    width: 451px;
    height: 20px;

}

.scroll{
    padding-left: 40px;

}

.cartel{
    display: none;

}


.hoc:hover .botones{
    display: block;
}


.hdoc{
    display:none;
    
}

.hfolder{
    display:none;
    
}

.hnube{
    display:none;
    
}

/*Media Query*/
@media screen and (max-width:800px) and (min-width:0px){

body{
    background-image: none;

}
main{
    width: 375px;
    height: 667px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/Imagenes/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    
}

.derecha{
    width: 326px;
    height: 160px;
    padding: 0px 0px 0px 0px;
    margin: 0;

}

.izquierda{
    width: 326px;
    height: 201px;
    margin-bottom: 16px;

}

.derecha{
    width: 326px;
    height: 160px;

}

.barra{
    width: 262px;
    height: 20px;
    padding-left: 30px;

}

.scroll{
    padding-left: 33px;

}

.numero1{
    padding-right: 184px;
    padding-left: 34px;

}

.cartel{
    display: block;
    right: px;

}

}

