* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    padding-top: 90px;
    background-image: url(/Imagenes/fondo.jpg);
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tarjeta {
	width: 100%;
	max-width: 550px;
	position: relative;
    top: 170px;
    left: -380px;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	padding: 30px;
	border-radius: 15px;
	min-height: 315px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tarjeta .delantera {
	width: 100%;
	background: url(/Imagenes/tarjeta.jpg);
	background-size: cover;
}

.delantera .chip {
	width: 100%;
	max-width: 50px;
	margin-bottom: 20px;
}

.delantera .grupo .label {
	font-size: 16px;
	color: #7d8994;
	margin-bottom: 5px;
}

.numero,.nombre, .expiracion {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.trasera {
	background: url(/Imagenes/tarjeta.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.barra-magnetica {
	height: 40px;
	background: rgb(172, 145, 24);
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0;
}

.trasera .datos {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.trasera .datos p {
	margin-bottom: 5px;
}

.trasera .datos #firma {
	width: 70%;
}

.trasera .datos #firma .firma {
	height: 40px;
    background-color: #fff;
}

.trasera .datos #firma .firma p {
	line-height: 40px;
	color: #000;
	font-size: 30px;
	padding: 0 10px;
	text-transform: capitalize;
}

.trasera .datos #ccv {
	width: 20%;
}

.trasera .datos #ccv .ccv {
	background: #fff;
	height: 40px;
	color: #000;
	padding: 10px;
	text-align: center;
}

.trasera .TyC {
	font-size: 14px;
	line-height: 24px;
}

.trasera .link-banco {
	font-size: 14px;
	color: #fff;
}

.formulario {
	background: rgb(51, 50, 50);
	width: 100%;
	max-width: 700px;
    height: 450px;
	padding: 50px 30px 30px 30px;
	border-radius: 10px;
	position: relative;
	top: -250px;
    left: 280px;
}

.formulario label {
	display: block;
	color: #fff;
	margin-bottom: 5px;
	font-size: 16px;
}

.formulario input,.formulario select,.btn-enviar {
	border: 2px solid #CED6E0;
	font-size: 18px;
	height: 50px;
	width: 100%;
	padding: 5px 12px;
	transition: .3s ease all;
	border-radius: 5px;
}

.formulario input:hover,.formulario select:hover {
	border: 2px solid #93BDED;
}

.formulario input:focus,.formulario select:focus {
	outline: rgb(4,4,4);
	box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
}

.formulario input {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.formulario .flexbox {
	display: flex;
	justify-content: space-between;
}

.formulario .expira {
	width: 100%;
}

.formulario .ccv {
	min-width: 100px;
}

.formulario .grupo-select {
	width: 100%;
	margin-right: 15px;
	position: relative;
}

.formulario select {
	-webkit-appearance: none;
}

.formulario .grupo-select i {
	position: absolute;
	color: #CED6E0;
	top: 18px;
	right: 15px;
	transition: .3s ease all;
}

.formulario .btn-enviar {
	border: none;
	padding: 10px;
	font-size: 22px;
	color: #fff;
	background: #656668;
	cursor: pointer;
}

.formulario .btn-enviar:hover {
	background: #b3b4b6;
}