body{
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

main{
    width: 1440px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.izquierda{
    width: 830px;
    height: 800px; 
    background-image: url(/Imagenes/bg-pattern-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.logo{
    padding: 65px 0px 135px 165px;
}

h2, h1{
    position: absolute;
    font-size: 62px;
    padding: 0px 0px 31px 165px;
}

h2{
    font-weight: 300;
    color: #C9969B;
    top: 21%;
}

h1{
    top: 30%;
    width: 380px;

}

.celular{
    display: none;
}

.descripcion{
    font-size: 16px;
    color: #BD9D9E;
    width: 426px;
    height: 72px;
    position: absolute;
    top: 50%;
    left: 165px;

}

.input{
    width: 445px;
    height: 56px;
    position: absolute;
    top: 62%;
    left: 165px;
}