*{
    margin: 0%;    
    padding: 0%;
}

body{
display: flex;
flex-direction: column;
align-items: center;
background-color: #F0FAFB; }

.fondo{ 
z-index: -1;
position: absolute;
top: 0%;
width: 100%;
height: 155px;
background-image: url("images/bg-header-desktop.svg");
background-color: #5DA5A4;  }

h3{
    font-size: 17px;
    color: #639A95;
}

h2{
    font-size: 22px;
}
.principal{   
width: 80%;
margin: auto;
margin-top: 120px;
}

.hide{
    display: none;
}

#keyWordContainer{
    display: none;
}

#keyWordContainer.active{
background-color: #FFFFFF;
display: flex;
height: 45px;
flex-flow: row nowrap;
justify-content: space-between;
align-items: center;
padding: 20px;
margin-bottom: 15px;
box-shadow: 0px 9px 9px 0px #78797975;
border-radius: 10px;    
}

.container{
display: flex;
background-color: #FFFFFF;
margin-bottom: 20px;
border-radius: 10px;
box-shadow: 0px 3px 9px 0px #78797975;
justify-content: space-between;
padding: 20px 40px 20px 40px;
align-items: center;
height: 100px;
}

.leftContainer{
display: flex;
flex-direction: row-reverse;
}

.tags2{
margin:5px 10px 5px 0;
height: 25px;
border: none;
width: 80px;
padding: 0 5px 0 5px;
background-color: #ECF2F3;
font-weight:bolder ;
color: #5BA4A2;
}

.tags2:hover{
background-color: #5BA4A2;
color: #FFFFFF;
}

.logoImg{
    width: 88px;
    height: 88px;
margin-right: 20px;
}

.filtered{
border: dashed black;

}

button{
    height: 32px;
    width: 30%;
    border-radius: 5px;
    background-color: #EEF7F6;
    border-style: none;
    margin-left: 5px;
    margin-bottom: 5px;
    color: #609791;
}

label{
    margin-bottom: 5px;
    color: #609791; 
    border-radius: 5px;
    background-color: #EEF7F6;
}

button:hover{
    background-color: #609791;
    color: #fff;
}

label:hover{
    background-color: #609791;
    color: #fff;
}

span.specifics{
    font-size: 18px;
    color: #8B8F90;
}

section.container{
    width: 1000px;
}

.tag1{
    background-color: #5CA4A5;
    border-radius: 20px;
    width: 79px;
    height: 54px;
    margin-left: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}

.writtenInfo{
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:1200px) and (min-width:0px){


    body{
        height: 3176px;
    }
    .logoImg{
        width: 50px;
        height: 50px;
    }

    section.container{
        width: 329px;
        height: 262px;
        flex-direction: column;
    }

    div.tag2Container{
        width: 339px;
    }

    .writtenInfo{
        height: 139px;
    }
}
