body{
    background: linear-gradient(to right, #FFE47A, #3D7EAA);
    display: flex;
    justify-content: center;
}

h1{
    font-size: 40px;
    color: #3D7EAA;
}

#formulario{
    background-color: #fff;
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 3%;
    padding-top: 70px;
}

.grupo{
    display: flex;
    flex-direction: column-reverse;
}

input{
    width: px;
    height: 50px;
    background: none;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #000000;

}

input:focus{
    outline: none;
}


label{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

button{
    margin-top: 50px;
    margin-left: 15px;
    background-color: #3D7EAA;
    color: #fff;
    width: 400px;
    font-size: 20px;
    height: 70px;
    border-style: none;
    border-radius: 15px;
}

a:visited {
    color: #fff;
}

button:hover{
    background-color: #4c9cd1;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    position: absolute;
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.aviso{
    width: 200px;
    height: 100px;
    text-align: center;
    margin: auto;
    color: #000000;
    font-size: 50px;

}