@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Sora', sans-serif;
}

h1{
    font-size: 27px;
    font-weight: 300;
    color: #2B8CD6;
}

.divInputs{
    display: flex;
    flex-direction: column;
}

#button{
    width: 315px;
    height: 48px;
    border-radius: 6px;
    border: none;
    background-color: #BFBFBF;
    color: #8B5F59;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

#button:hover{
    background-color: #71c2ff;
}